# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:
## 1. Python
## 2. R
## 3. SQL
## 4. Java

**Objectives**
- List popular languagens for Data Science
- Some of the commonly used libraries used by Data Scientists
- Github
- Rstudio

# Some of the commonly used libraries used by Data Scientists include:
## 1. Numpy
## 2. Pandas
## 3. Matplotlib
## 4. Seaborn
## 5. ggplot
## 6. caret
## 7. tensor-flow

 | Data Science Tools |
 ----------------------   
 | Github |
 | Jupyter notebook |
 | Rstudio |

### Below are a few examples of evaluating arithmetic expressions in Python
### 1 + 2 + 3 + 5 + 6
### 3^2 + 4^2 
### (1+0.01)^2

In [3]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours diving by 60
200/60

3.3333333333333335

## Author:
   Antonio Erike Pinheiro Lima